# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Jenv
.java-version

# Eclipse
.settings/
.classpath
.project

# IntelliJ IDEA
.idea
*.iml

# Branch switching
generated/
/retry/Resilience4j Session-3  Making RESTAPI fault tolerant using Retry.mp4
/ratelimiter/Resilience4j- Limit of number of requests to RESTAPI using ratelimiter.mp4
/ratelimiter/Resilience4j- Session-1 Limit of number of requests to RESTAPI using ratelimiter.mp4
/bulkhead/Resilience4j- Session-2  Limit of number of concurrent requests to RESTAPI using bulkhead.mp4
/retry/Resilience4j- Session 3 Making REST API fault tolerant using Retry.mp4
/.vagrant/
